.ui.top.attached.segment
  %h1 Listing questions

  %table.ui.very.basic.table
    %thead
      %tr
        %th Content
        %th Acceptable answers
        %th
        %th
        %th

    %tbody
      - @questions.each do |question|
        %tr
          %td.eight.wide= question.content
          %td.four.wide= question.acceptable_answers
          %td.four.wide.right.aligned
            = link_to 'Show', question, class: "ui mini button"
            = link_to 'Edit', edit_question_path(question), class: "ui mini blue button"
            = link_to 'Destroy', question, class: "ui mini orange button", method: :delete, data: { :confirm => 'Are you sure?' }

.ui.bottom.attached.segment
  = link_to new_question_path do
    %button.ui.positive.basic.button
      %i.icon.plus
      New Question
