.ui.top.attached.secondary.segment
  .flex-header
    %h3.ui.header All questions
    = link_to new_question_path do
      %button.ui.primary.basic.button
        %i.icon.plus
        New Question
.ui.bottom.attached.segment
  %table.ui.very.basic.table
    %thead
      %tr
        %th Question
        %th Answers
        %th Asked at
        %th Resuse (times)
        %th

    %tbody
      - @questions.each do |question|
        %tr
          %td.six.wide
            = link_to question.content, question
          %td.four.wide
            = question.acceptable_answers
          %td.two.wide N/A
          %td.two.wide N/A
          %td.two.wide.right.aligned
            = link_to 'Edit', edit_question_path(question), class: "ui mini blue button"
            = link_to question, method: :delete, data: { :confirm => 'Are you sure?' } do
              .ui.mini.negative.icon.button
                %i.trash.alternate.icon
