= form_for @round, html: {class: "ui form"} do |f|
  - if @round.errors.any?
    #error_explanation
      %h2= "#{pluralize(@round.errors.count, "error")} prohibited this round from being saved:"
      %ul
        - @round.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Episode:"
    = f.select :episode_id, Episode.order(happen_date: :desc).collect { |e| ["##{e.id} - #{e.happen_date.strftime('%d/%m/%Y')}", e.id] }
  - unless @round.new_record?
    .field
      = f.hidden_field :question_ids, id: "question_ids_input"
      = f.label "Questions (#{@questions.count}):"
      .ui.divided.relaxed.list
        - @questions.each do |q|
          .item.question.p-mini--ends
            .right.floated.content
              %i.close.red.icon{"data-question-id": q.id}
            %i.chevron.right.grey.icon
            .content=q.content

  .ui.divider
  = f.submit 'Save', class: "ui primary button"


:javascript
  $(function(){
    $("#round_episode_id").dropdown();
    $("#questions_field").dropdown();

    var question_ids = #{@round.question_ids}

    $(".item.question .close.icon").click(function(){
      selected_id = $(this).data("question-id").toString();
      question_ids = _.remove(question_ids, function(item) {
        return item != selected_id
      });
      $("#question_ids_input").val(question_ids);
      $(this).parents(".item.question").remove();
    });
  })
