= form_for @round, html: {class: "ui form"} do |f|
  - if @round.errors.any?
    #error_explanation
      %h2= "#{pluralize(@round.errors.count, "error")} prohibited this round from being saved:"
      %ul
        - @round.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Episode:"
    = f.select :episode_id, Episode.order(happen_date: :desc).collect { |e| ["##{e.id} - #{e.happen_date.strftime('%d/%m/%Y')}", e.id] }
  - unless @round.new_record?
    .field
      = f.label "Questions:"
      .ui.divided.relaxed.list
        - @questions.each do |q|
          .item.p-mini--ends
            .right.floated.content
              %i.close.red.icon
            %i.chevron.right.grey.icon
            .content=q.content

  .ui.divider
  = f.submit 'Save', class: "ui primary button"


:javascript
  $(function(){
    $("#round_episode_id").dropdown();
    $("#questions_field").dropdown();
  })
