.ui.top.attached.secondary.segment
  .flex-header
    %h3.ui.header All Rounds
    = link_to new_round_path do
      %button.ui.primary.basic.button
        %i.icon.plus
        New Round

.ui.bottom.attached.segment
  %table.ui.very.basic.table
    %thead
      %tr
        %th Episode
        %th Happen date
        %th Number of question
        %th Start on
        %th

    %tbody
      - @rounds.each do |round|
        %tr
          %td ##{round.episode_id}
          %td= round.episode.happen_date
          %td= round.question_ids.count
          %td= Time.current
          %td.five.wide.right.aligned
            = link_to round do
              .ui.mini.positive.button
                %i.play.icon
                Operate
            = link_to 'Setting', edit_round_path(round), class: "ui mini blue button"
            = link_to round, method: :delete, data: { :confirm => 'Are you sure?' } do
              .ui.mini.negative.icon.button
                %i.trash.alternate.icon

