.ui.top.attached.secondary.segment
  .flex-header
    %h3.ui.header All episodes
    = link_to new_episode_path do
      %button.ui.primary.basic.button
        %i.icon.plus
        New Episode
.ui.bottom.attached.segment
  %table.ui.very.basic.table
    %thead
      %tr
        %th Happen date
        %th Team ids
        %th

    %tbody
      - @episodes.each do |episode|
        %tr
          %td= episode.happen_date
          %td= episode.team_ids
          %td.four.wide.right.aligned
            = link_to 'Edit', edit_episode_path(episode), class: "ui mini blue button"
            = link_to episode, method: :delete, data: { :confirm => 'Are you sure?' } do
              .ui.negative.icon.mini.button
                %i.trash.alternate.icon

