.ui.container
  .sessions
    .form-panel
      .ui.top.attached.segment.p-medium--all
        %h3.ui.dividing.header.p-mini--bottom ORGANIZER SIGN IN
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui form"}) do |f|
          .field
            .ui.left.icon.input
              %i.ui.mail.icon
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address"
          .field
            .ui.left.icon.input
              %i.ui.lock.icon
              = f.password_field :password, autocomplete: "current-password", placeholder: "Password"
          .field
            .ui.checkbox
              = f.check_box :remember_me
              = f.label :remember_me
          .field
            %button.ui.primary.fluid.right.labeled.icon.button{type: "submit"}
              Log in
              %i.arrow.right.icon
      - if alert
        .ui.bottom.attached.warning.message
          %i.ui.exclamation.triangle.icon
          = alert
