!!!
%html
  %head
    %title GameShow
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %link{href:"https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=vietnamese", rel: "stylesheet"}
  %body
    = render "layouts/flash" unless controller_name == "sessions"
    .ui.fluid.container= yield
    = link_to 'Logout', destroy_user_session_path, method: :delete if signed_in?
